<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ template "title" . }}    

    <link rel="stylesheet" href="/static/pure-min-0.6.0.css">
</head>
<body>
	{{ template "content" . }}
</body>
</html>